---
// // way 1: one file
// import BaseLayout from "../layouts/BaseLayout.astro";

// import { Content, frontmatter } from "../content/about.md";

// way 2: multiple files or one if not mare than 1
import { getEntry, render } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

// Carga específicamente el archivo "about.md" de la colección "pages"
const about = await getEntry("pages", "about");
if (!about) {
    throw new Error(
        'No se encontró la entrada "about" en la colección "pages".',
    );
}
// Convierte el markdown en un componente HTML
const { Content } = await render(about);
---

<BaseLayout>
    <div class="content">
        <!-- way 1 -->
        <!-- <h1>{frontmatter.title}</h1>
        <p class="description">{frontmatter.description}</p> -->

        <!-- way 2 -->
        <h1>{about.data.title}</h1>
        <p class="description">{about.data.description}</p>

        <!-- Aquí se renderiza todo el cuerpo del markdown -->
        <Content />
    </div>
</BaseLayout>
