---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<div class="content">
		<h1>Home page</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, deleniti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, delen iti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
		</p>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, deleniti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, delen iti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
		</p>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, deleniti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, delen iti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
		</p>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, deleniti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, delen iti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
		</p>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, deleniti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, delen iti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
		</p>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, deleniti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, delen iti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
		</p>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, deleniti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, delen iti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
		</p>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, deleniti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, delen iti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
		</p>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, deleniti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, delen iti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
		</p>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, deleniti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, delen iti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
		</p>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, deleniti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, delen iti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
		</p>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, deleniti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
			ipsum, voluptate, deleniti, dicta doloremque consequatur corporis
			quasi cumque magnam quisquam. Voluptas ipsum, voluptate, delen iti,
			dicta doloremque consequatur corporis quasi cumque magnam quisquam.
		</p>
	</div>
</BaseLayout>
